*{
    background: url(../image/abstract-attractive-backdrop-988872.jpg);
}

body{
    background-color: black;
    height: 750px;
    width:100%;
   
}

/* .container{
    margin: 200px;
    opacity: 0.3px;
} */